{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.contact_mail) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.message) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(form) }}
    <div id="message" hidden>{{message}}</div>
    <script>
        const message = document.querySelector("#message");
        const input_message = document.querySelector("#contact_message");
        input_message.value=message.innerHTML;
    </script>
{% endblock %}