{% extends 'base.html.twig' %}
{% block body %}
<form class="mb-3">
    {{ form_start(form) }}
    <div class="mb-3">
        {{ form_errors(form) }}
          {{ form_label(form.contact_mail)  }}
        {{ form_widget(form.contact_mail) }}
        {{ form_label(form.mail) }}
        {{ form_widget(form.mail) }}
        {{ form_label(form.message) }}
        {{ form_widget(form.message) }}
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(form) }}
    <div id="message" hidden>{{message}}</div>
    <script>
        const message = document.querySelector("#message");
        const input_message = document.querySelector("#contact_message");
        input_message.value=message.innerHTML;
    </script>
</form>
{% endblock %}
