{% extends 'base.html.twig' %}

{% block title %}Horraires{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div>Ouverture semaine: {{horraire[0]|date('H:i')}} - {{horraire[1]|date('H:i')}}</div>
    <div>Overture samedi: {{horraire[2]|date('H:i')}} - {{horraire[3]|date('H:i')}}</div>
    <div>Overture dimanche: {{horraire[4]|date('H:i')}} - {{horraire[5]|date('H:i')}}</div>
    {% if horraire[4] == horraire[5] %}
      Ferme dimanche
      {% else %}
        <div>Overture dimanche: {{horraire[4]|date('H:i')}} - {{horraire[5]|date('H:i')}}</div>
    {% endif %}
</div>
{% endblock %}
